<div class="row">
  <form action="" class="col-12 m-4 text-center">
    <input type="text" class="inputFeild w-50 border-1 rounded p-2" placeholder="try searching for any name ex.'ahmed'!"
      [(ngModel)]="searchValue" name="search" (input)="onInputChange()">
  </form>
  <div class="col-12 col-sm-6 col-md-3" *ngFor="let elemnt of arr;let i = index;"
    [ngClass]="{'d-none': searchValue && elemnt.name.toLowerCase() !== searchValue.toLowerCase()}">
    <div class="card m-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{elemnt.name}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{elemnt.name}} is {{elemnt.age}} years old</h6>
        <h6>index is : {{i}}</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, a!</p>
      </div>
    </div>
  </div>
</div>
<router-outlet />